<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>

      <style type="text/css">
        .center {margin-left: auto; margin-right: auto;}
        .teaser {margin-left: 5%; margin-right: 5%; width:90%; min-width:80%; padding-top: 50px}
        .author_p {margin-bottom: 0.1em; margin-top: 0.1em;}
        .smaller_font {font-size: 80%; opacity: 0.7;}
      </style>

      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      <a class="author project-tagline"><p class="author_p">Emre Aksan</p> <p class="author_p smaller_font">ETH Zurich</p></a>
      <a class="author project-tagline"><p class="author_p">Thomas Deselaers</p> <p class="author_p smaller_font">Apple Switzerland</p></a>
      <a class="author project-tagline"><p class="author_p">Andrea Tagliasacchi</p> <p class="author_p smaller_font">Google Research</p></a>
      <a class="author project-tagline"><p class="author_p">Otmar Hilliges</p> <p class="author_p smaller_font">ETH Zurich</p></a>

      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" target="_blank" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" target="_blank" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" target="_blank" class="btn">Download .tar.gz</a>
      {% endif %}
      {% if site.arxiv_url %}
        <a href="{{ site.arxiv_url }}" target="_blank" class="btn">View on arXiv</a>
      {% endif %}
    </header>

    {% if site.teaser_img %}
    <div class="teaser_div" style="">
      <img class="teaser_img" src="img/web_teaser_flowchart.png" style="">
      <img class="teaser_img" src="img/web_teaser_cat.png" style="">
      <img class="teaser_img" src="img/web_teaser_text.png" style="">
    </div>
    {% endif %}

    <main id="content" class="main-content" role="main" style="padding: 0rem 1rem;">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.show_footer %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
          <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
        {% endif %}
      </footer>
    </main>
  </body>
</html>